@import "variables.scss";

/* post list */

.postList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  .noPost {
    margin-top: 5vh;
    padding: 24px;
    text-align: center;
    color: gray;
  }
}

@media screen and (max-width: 600px) {
  .postList {
    grid-template-columns: 1fr;
  }
}

.categoryInfo {
  margin: $mainGap 0;
  display: flex;
  align-items: baseline;
  gap: 10px;
  color: var(--subTitle);
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
}

/* post block */

.postBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 25px;
  background-color: var(--postBlock);
  border-radius: 10px;
  height: 110px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--text);
  .title {
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .summary {
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-height: 18px;
  }
}

/* post detail */

.postDetail {
  margin-top: 50px;
  color: var(--text);
  .title {
    font-size: 36px;
    font-weight: bolder;
    margin: 40px 0;
  }
  .info {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    .category {
      background-color: $mainColor;
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 14px;
      margin-right: 10px;
      color: black;
    }
    .date {
      color: gray;
      font-size: 14px;
    }
    .utils {
      display: flex;
      gap: 5px;
      & a,
      .delete {
        font-size: 14px;
        color: gray;
        cursor: pointer;
        &:hover,
        &:focus {
          color: var(--text);
        }
      }
    }
  }
  .summary {
    border: 1px solid lightgray;
    background-color: var(--detailBG);
    padding: 20px;
    border-radius: 5px;
    line-height: 18px;
    margin-bottom: 30px;
    h1 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      color: var(--subTitle);
    }
  }
  .content {
    border: 1px solid lightgray;
    background-color: var(--detailBG);
    padding: 20px;
    border-radius: 5px;
    line-height: 18px;
    min-height: 200px;
    white-space: pre-wrap;
  }
}

/* comments */

.comments {
  margin-top: 60px;
  .comments__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label {
      font-weight: 600;
      margin: 10px 0;
    }
    textarea {
      min-height: 100px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      line-height: 18px;
      font-size: 16px;
      border-radius: 5px;
      outline: none;
      border: 1px solid lightgray;
      background-color: var(--detailBG);
      color: var(--text);
    }
    .submitBtn {
      align-self: flex-end;
      margin: 10px 0;
      padding: 8px 20px;
      background-color: $mainColor;
      border: none;
      border-radius: 5px;
      &:hover,
      &:focus {
        background-color: $darkColor;
        cursor: pointer;
      }
    }
  }
}

.comments__list {
  margin-top: 20px;
  margin-bottom: 100px;
  .commentBox {
    padding: 12px 0;
    border-bottom: 1px solid lightgray;
    .profileBox {
      margin: 10px 0;
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 12px;
      .email {
        font-weight: 600;
      }
      .date {
        color: gray;
      }
      .delete {
        cursor: pointer;
        color: lightcoral;
        &:hover,
        &:focus {
          color: red;
        }
      }
    }
    .commentText {
      font-size: 14px;
      padding-top: 4px;
    }
  }
}

/* post form */

.form {
  margin: $mainGap 0;
  color: var(--text);
  .form__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
    width: 100%;
  }
  & label {
    font-weight: 600;
  }
  & input {
    height: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
    outline: none;
    background-color: var(--bg);
    color: var(--text);
  }
  & textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
    outline: none;
    min-height: 400px;
    line-height: 1.5;
    background-color: var(--bg);
    color: var(--text);
  }
  .summary {
    min-height: 100px;
  }
  .form__btnContainer {
    gap: 10px;
    margin: 15px 0;
    width: 100%;
    height: 48px;
    .form__submitBtn {
      float: right;
      width: 15%;
      height: 48px;
      margin: 0 auto;
      padding: 10px;
      background-color: $mainColor;
      &:hover,
      &:focus {
        background-color: $darkColor;
        cursor: pointer;
      }
    }
  }
  select {
    border: 1px solid lightgray;
    max-width: 360px;
    height: 40px;
    padding: 0px 10px;
    border-radius: 0.3rem;
    outline: none;
    background-color: var(--bg);
    color: var(--text);
  }
}
