@import "variables.scss";

/* post list */

.postList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .postList {
    grid-template-columns: 1fr;
  }
}

.categoryInfo {
  margin: $mainGap 0;
  display: flex;
  align-items: baseline;
  gap: 10px;
  color: darkslategrey;
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
}

/* post block */

.postBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 25px;
  background-color: white;
  border-radius: 10px;
  height: 110px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  .title {
    font-weight: bold;
    font-size: 20px;
  }
  .introduction {
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-height: 18px;
  }
}

/* post detail */

.postDetail {
  margin-top: 50px;
  .title {
    font-size: 36px;
    font-weight: bolder;
    margin: 40px 0;
  }
  .info {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    .category {
      background-color: $mainColor;
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 14px;
      margin-right: 10px;
    }
    .date {
      color: gray;
      font-size: 14px;
    }
    .utils {
      display: flex;
      gap: 5px;
      & a {
        font-size: 14px;
        color: gray;
        &:hover,
        &:focus {
          color: black;
        }
      }
    }
  }
  .introduction {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    line-height: 18px;
    margin-bottom: 30px;
    color: darkslategray;
    h1 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  .content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    line-height: 18px;
    min-height: 200px;
  }
}

/* post form */

.form {
  margin: $mainGap 0;
  .form__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: $mainGap 0;
    width: 100%;
  }
  & label {
    font-weight: 600;
  }
  & input {
    height: 16px;
    padding: 20px 10px;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
    outline: none;
    font-size: 16px;
  }
  & textarea {
    height: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
    outline: none;
    min-height: 400px;
    line-height: 1.5;
  }
  .form__submitBtn {
    width: 100%;
    height: 48px;
    margin: 0 auto;
    padding: 10px;
    background-color: $mainColor;
    &:hover,
    &:focus {
      background-color: $darkColor;
      cursor: pointer;
    }
  }
}
